<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p><%= @message %></p>
<img src="https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/11351196_355907604608193_4034486081251855553_n.jpg?oh=a19ea840703d53ec4ae9179d9cb850f6&oe=56098ED6">